/*****  screen.css: Screen Styles  *****/
/* CSS - Palette color codes */
/* Palette URL: http://paletton.com/#uid=30I0u0k3juI07VD1gG06bqfa3md */
/* Primary color */
/* Secondary color 1 */
/* Secondary color 2 */
html {
  box-sizing: border-box;
  background-color: #537969;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*   Typography, color, etc.   */
/*   Layout is farther down.   */
/*******************************/
/* Basic element hierarchy:    */
/* <header>                    */
/* <body>                      */
/*   <main> <h1>               */
/*     <article> <h2>          */
/*   <nav>                     */
/*   <footer>                  */
/*******************************/
body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f1f2f1;
}
h1 {
  /* Wrapping <h1> in <legend> gives values */
  /* from “reset.css” precedence over <body> */
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b19979;
  background-color: #f5eadb;
  font-size: 1.375em;
  line-height: 1.500em;
  /* font + 0.125em */
  border-radius: 0.125em;
  padding: 0 0.250em;
}
h2 {
  font-size: 1.250em;
  line-height: 1.375em;
}
h1,
h2,
h3,
h4,
h5,
h6,
legend,
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
/* Layout *************************************/
/* “CSS doesn't define where to place things; */
/* it defines HOW to place them.              */
/* Like the Tao, it does nothing,             */
/* but through it, all things get done.” - me */
/**/
/*[ Default; no media query ]*********************/
/* Targets a [12.5 em < screen < 37.5 em] screen */
fieldset {
  margin: 0 0 0.875em -0.625em;
  border-style: solid;
  border-width: 1.375em 1.375em 0 0;
  border-color: #b19979 #537969;
  padding: 0 0 0 0.625em;
}
article {
  clear: both;
  display: inline-block;
  margin-bottom: 0.875em;
  border-color: #537969 #5b5b7c;
  border-style: solid;
  padding: 0 0 0.875em 0;
}
.text {
  float: left;
  margin-right: 0.625em;
  border-width: 0 0 1.000em 1.000em;
  border-radius: 0.3125em 0 0 0;
  text-align: left;
}
[class^=other] {
  float: right;
  margin-left: 0.625em;
  border-width: 0 1.000em 1.000em 0;
  border-radius: 0 0.3125em 0 0;
  text-align: right;
}
.label h2 {
  margin: -1.625em 0 0.375em 0;
  /* margin: -1.375em 0 0.375em 0; */
}
.h2back {
  display: inline-block;
  min-width: 8em;
  border-color: #537969 #537969 #5b5b7c #537969;
  border-style: solid;
}
.text .h2back {
  margin-right: -4em;
  border-width: 0 1.6875em 1.6875em 0;
}
[class^=other] .h2back {
  margin-left: -4em;
  border-width: 0 0 1.6875em 1.6875em;
}
section {
  display: inline-block;
  min-width: 8.3125em;
  background-color: #fcf3e8;
  color: #5b5b7c;
  padding: 0.375em;
}
.text section {
  margin: 0 0 0 -0.375em;
  border-style: solid;
  border-color: #537969;
  border-width: 0 1.000em 0 0;
}
[class^=other] section {
  margin: 0 -0.375em 0 0;
  border-style: solid;
  border-color: #537969;
  border-width: 0 0 0 1.000em;
}
.text .bar {
  margin: -0.8125em -1.375em 0 -0.375em;
  border-style: solid;
  border-color: #5b5b7c #537969;
  border-width: 1.000em 1.000em 0 0;
}
[class^=other] .bar {
  margin: -0.8125em -0.375em 0 -1.375em;
  border-style: solid;
  border-color: #5b5b7c #537969;
  border-width: 1.000em 0 0 1.000em;
}
main a {
  color: #537969;
}
main a:hover {
  color: #748f84;
}
/*********************************************[ screen < 12.5 em ]*/
/* This is a weirdly small size of viewport, _not_ the default!   */
/* This uses ‘em’ instead of ‘%’ to enforce minimums for spacings */
/******************************************[ 12.5 em < screen < 34.0 em ]*/
/* Switch from ‘em’ to ‘%’ to allow dynamic/responsive sizing of spaces. */
/**********************************[ 34.5 em < screen < 60.0 em ]*/
/* Limit width of <section>, to limit the length of lines of text */
/* 30 display-em -> 45 print-em ; 20 display-em -> 30 print-em    */
/* Print-em better estimates the number of characters on a line   */
@media all and (min-width: 34.5em) {
  main {
    max-width: 94.125%;
    padding: 0 0 0 2.125%;
  }
  fieldset {
    margin: 0.375% 0 0.875em -0.75%;
    border-style: solid;
    border-width: 1.375em 8em 0 0;
    border-color: #b19979 #537969;
    padding: 0 0 0 0.75%;
  }
  .text {
    max-width: 20em;
  }
  .text + .text {
    clear: none;
    margin: 2.125em 0.625em 0.875em 0;
    border-width: 0;
    padding-bottom: 1.875em;
    /* extra padding to make up  */
    /* space from missing border */
  }
  .text + .text .label {
    display: none;
  }
  .text + .text .bar {
    margin-left: -1.5em;
    margin-right: -3.625em;
  }
  [class^=other] {
    max-width: 30em;
  }
  [class^=other] + [class^=other] {
    clear: none;
  }
  /* LESS automagical selector stacking */
  .other-quote + .other-quote,
  .other-link + .other-link,
  .other-photo + .other-photo {
    margin: 2.125em 0 0.875em 0.625em;
    border-width: 0;
    padding-bottom: 1.875em;
  }
  .other-quote + .other-quote .label,
  .other-link + .other-link .label,
  .other-photo + .other-photo .label {
    display: none;
  }
  .other-quote + .other-quote .bar,
  .other-link + .other-link .bar,
  .other-photo + .other-photo .bar {
    margin-right: -1.5em;
  }
  main a {
    text-decoration: none;
  }
  main a:hover {
    color: #537969;
    text-shadow: #748f84 0 0 28px;
    /* glows a little */
  }
}
/**********************************[ 60 em < screen ]*/
