/*****  screen.css: Screen Styles  *****/
/* CSS - Palette color codes */
/* Palette URL: http://paletton.com/#uid=30I0u0k3juI07VD1gG06bqfa3md */
/* Primary color */
/* Secondary color 1 */
/* Secondary color 2 */
html {
  box-sizing: border-box;
  background-color: #537969;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*   Typography, color, etc.   */
/*   Layout is farther down.   */
/*******************************/
/* Basic element hierarchy:    */
/* <header>                    */
/* <body>                      */
/*   <main> <h1>               */
/*     <article> <h2>          */
/*   <nav>                     */
/*   <footer>                  */
/*******************************/
body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
legend {
  /* <h1> replaced by <legend> */
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.375em;
  line-height: 1.500em;
  color: #b19979;
  background-color: #f5eadb;
  border-radius: 0.125em;
  padding: 0 0.250em;
}
h2 {
  font-size: 1.250em;
  line-height: 1.375em;
  /* font + 0.125em */
}
h3 {
  font-size: 1.125em;
  line-height: 1.250em;
  padding-bottom: 0.8125em;
}
h1,
h2,
h3,
h4,
h5,
h6,
legend,
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
ul {
  list-style: square inside none;
  margin-bottom: 0.3825em;
}
li {
  margin-left: 0.5625em;
  line-height: 1.325;
  list-style: inherit;
}
/* Layout *************************************/
/* “CSS doesn't define where to place things; */
/* it defines HOW to place them.              */
/* Like the Tao, it does nothing,             */
/* but through it, all things get done.” - me */
/**/
/*[ Default; no media query ]*********************/
/* Targets a [12.5 em < screen < 34.5 em] screen */
body {
  min-width: 12.172em;
  /* matches main */
  background-color: #537969;
  border-top: solid #DADADA 1.5em;
}
main {
  padding: 0 1.3125% 0 1.3125%;
}
main {
  min-width: 12.172em;
  padding: 0 1.3125% 0 1.3125%;
}
fieldset {
  margin: 0 0 0.875em -0.625em;
  border-style: solid;
  border-width: 1.375em 1.375em 0 0;
  border-color: #b19979 #537969;
  padding: 0 0 0 0.625em;
}
article {
  clear: both;
  display: inline-block;
  margin-bottom: 0.875em;
  border-color: #537969 #5b5b7c;
  border-style: solid;
  padding: 0 0 0.875em 0;
}
.text {
  float: left;
  margin-right: 0.625em;
  border-width: 0 0 1.000em 1.000em;
  border-radius: 0.3125em 0 0 0;
  text-align: left;
}
[class^=other] {
  float: right;
  margin-left: 0.625em;
  border-width: 0 1.000em 1.000em 0;
  border-radius: 0 0.3125em 0 0;
  text-align: right;
}
.label h2 {
  margin: -1.625em 0 0.375em 0;
}
.h2back {
  display: inline-block;
  min-width: 8em;
  border-color: #537969 #537969 #5b5b7c #537969;
  border-style: solid;
}
.text .h2back {
  margin-right: -4em;
  border-width: 0 1.6875em 1.6875em 0;
}
[class^=other] .h2back {
  margin-left: -4em;
  border-width: 0 0 1.6875em 1.6875em;
}
section {
  display: inline-block;
  min-width: 8.3125em;
  background-color: #fcf3e8;
  color: #5b5b7c;
  border-style: solid;
  border-color: #537969;
  padding: 0.375em;
}
.text section {
  margin: 0 0 0 -0.375em;
  border-width: 0 1.000em 0 0;
}
[class^=other] section {
  margin: 0 -0.375em 0 0;
  border-width: 0 0 0 1.000em;
}
.text section p {
  padding-bottom: 0.6875em;
}
.bar {
  border-style: solid;
  border-color: #5b5b7c #537969;
}
.text .bar {
  margin: -0.8125em -1.375em 0 -0.375em;
  border-width: 1.000em 1.000em 0 0;
}
[class^=other] .bar {
  margin: -0.8125em -0.375em 0 -1.375em;
  border-width: 1.000em 0 0 1.000em;
}
blockquote {
  font-size: 1.250em;
  font-style: italic;
  text-align: center;
  padding-bottom: 0.375em;
}
.describe {
  color: #b19979;
}
.caption {
  font-size: 0.675em;
}
.other-photo img {
  border: #f5eadb 2px solid;
}
.under34 {
  display: block;
}
.over34 {
  display: none;
}
a {
  color: #537969;
  text-decoration: underline;
}
a:hover {
  color: #748f84;
}
/********************************************[ screen < 12.5 em ]*/
/* Note the use of "max-width". This makes this query exclusive  */
/* instead of stacking, and means that this is _not_ the default */
/* styling.  Or, rather, that it only overrides the defaults for */
/* the uncommon case of a very large ratio of px/em to           */
/* px/screen-width. Most of the time this will just be ignored.  */
/**/
@media all and (max-width: 12.5em) {
  body {
    border-top: solid #DADADA 1.375em;
    /* Space for tumblr nav. items */
  }
  main {
    padding: 0 0.164em;
    /* 12.172 + 0.164 + 0.164 = 12.5 */
  }
}
/*****************************[ 12.5 em < screen < 34.5 em ]*/
/* This is a placeholder for "@media ( min-width: 12.5em )" */
/* Since it's the default, all its stylings are above.      */
/**/
/**/
/**********************************[ 34.5 em < screen < 68.0 em ]*/
/* Limit width of <section>, to limit the length of lines of text */
/* 30 display-em -> 45 print-em ; 20 display-em -> 30 print-em    */
/* Print-em better estimates the number of characters on a line   */
@media all and (min-width: 34.5em) {
  main {
    max-width: 94.125%;
    padding: 0 0 0 2.125%;
  }
  fieldset {
    margin: 0.375% 0 0.875em -0.75%;
    border-width: 1.375em 8em 0 0;
    padding: 0 0 0 0.75%;
  }
  .text {
    max-width: 27em;
  }
  .text + .text {
    clear: none;
    margin: 2.0625 0.625em 0.875em 0;
    border-width: 0;
    padding-bottom: 1.875em;
    /* extra padding to make up  */
    /* space from missing border */
  }
  .text + .text .label {
    display: none;
  }
  .text + .text .bar {
    margin-left: -1.5em;
    margin-right: -2.625em;
  }
  [class^=other] {
    max-width: 28.25em;
  }
  [class^=other] + [class^=other] {
    clear: none;
    /* Allow fraternal to stack */
  }
  /* LESS automagical selector stacking */
  /* To style only identical siblings   */
  .other-quote + .other-quote,
  .other-link + .other-link,
  .other-photo + .other-photo {
    margin: 2.0625em 0 0.875em 0.625em;
    border-width: 0;
    padding-bottom: 1.875em;
  }
  .other-quote + .other-quote .label,
  .other-link + .other-link .label,
  .other-photo + .other-photo .label {
    display: none;
  }
  .other-quote + .other-quote .bar,
  .other-link + .other-link .bar,
  .other-photo + .other-photo .bar {
    margin-right: -1.5em;
    margin-left: -2.625em;
  }
  .under34 {
    display: none;
  }
  .over34 {
    display: block;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #537969;
    text-shadow: #748f84 0 0 28px;
    /* give a little glow */
  }
}
/**********************************[ 68 em < screen ]*/
@media all and (min-width: 68em) {
  main {
    max-width: 64.005em;
    /* 94.125% of 68 */
  }
}
