!!!
%html{:lang => "en"}
  %head
    %title Practically an impact
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "http://mfreema5.github.io/COM530-tumblr/css/reset.css", :media => "screen,print", :rel => "stylesheet"}/
    %link{:href => "http://mfreema5.github.io/COM530-tumblr/css/screen.css", :rel => "stylesheet"}/
  %body
    %main
      %fieldset
        %legend
          %h1
            Practically an impact
      {block:Posts}
      {block:Text}
      %article.text
        .label
          .h2back
          %h2
            Posted
        %section
          .bar
          {block:Title}
          %h3
            {Title}
          {/block:Title}
          {Body}
      {/block:Text}
      {block:Photo}
      %article.other-photo
        .label
          .h2back
          %h2
            Framed
        %section
          .bar
          .under34
            %img{:src => "{PhotoURL-250}", :alt => "{PhotoWidth-250}x{PhotoWidth-250} {PhotoAlt}"}
          .over34
            %img{:src => "{PhotoURL-400}", :alt => "{PhotoWidth-400}x{PhotoWidth-400} {PhotoAlt}"}
          {block:Caption}
          .describe
            {Caption}
          {/block:Caption}
      {/block:Photo}
      {block:Quote}
      %article.other-quote
        .label
          .h2back
          %h2
            I quote&#133;
        %section
          .bar
          %blockquote
            {Quote}
          {block:Source}
          .describe
            {Source}
          {/block:Source}
      {/block:Quote}
      {block:Link}
      %article.other-link
        .label
          .h2back
          %h2
            Check it:
        %section
          .bar
          .link
            %h3
              %a{:href => "{URL}"}
                {Name}
            {block:Thumbnail}
            %a{:href => "{URL}"}
              %img{:src => "{Thumbnail}", :alt => "Thumbnail graphic for link." }
            {/block:Thumbnail}
            {block:Host}
            .caption
              %p
                via <b>{Host}</b>
            {/block:Host}
            {block:Description}
            .describe
              {Description}
            {/block:Description}
      {/block:Link}
      {/block:Posts}
    %nav
    %footer




