%html{:lang => "en"}
  %head
    %title Practically an impact
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/reset.css", :media => "screen,print", :rel => "stylesheet"}/
    %link{:href => "css/screen.css", :rel => "stylesheet"}/
  %body
    %main
      %fieldset
        %legend
          %h1 Practically an impact
      <!-- {block:Posts}{block:Text} -->
      %article.text
        .label
          .h2back
          %h2
            Posted
        %section
          .bar
          {block:Title}
          %h3
            {Title}
          {/block:Title}
          {Body}
      <!-- {/block:Text}
      {block:Photo} -->
      %article.text
        .label
          .h2back
          %h2
            Posted
        %section
          .bar
          {block:Title}
          %h3
            {Title}
          {/block:Title}
          {Body}
      <!-- {/block:Text}
      {block:Photo} -->
      %article.text
        .label
          .h2back
          %h2
            Posted
        %section
          .bar
          {block:Title}
          %h3
            {Title}
          {/block:Title}
          {Body}
      <!-- {/block:Text}
      {block:Photo} -->
      %article.other-photo
        .label
          .h2back
          %h2
            Framed
        %section
          .bar
      <!-- {/block:Photo}
      {block:Quote} -->
      %article.other-quote
        .label
          .h2back
          %h2
            Quotes
        %section
          .bar
          %blockquote
            {Quote}
          {block:Source}
          .source
            {SourceFirst}
          {/block:Source}
      %article.other-quote
        .label
          .h2back
          %h2
            Quotes
        %section
          .bar
          %blockquote
            {Quote}
          {block:Source}
          .source
            {SourceLast}
          {/block:Source}
      <!-- {/block:Quote}
      {block:Link} -->
      %article.other-link
        .label
          .h2back
          %h2
            Linked
        %section
          .bar
          .link
            %a{href:"{URL}"} {Name}
            {block:Thumbnail}
            %a{href:"{URL}"} {Thumbnail}
          {block:Host}
          .caption
            via {Host}{/block:Host}
          {/block:Thumbnail}
          {block:Description}
          .describe
            {Description}{/block:Description}
      <!-- {/block:Link}{/block:Posts} -->
    %nav
    %footer




