!!!
%html{:lang => "en"}
  %head
    %title Practically an impact
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "http://mfreema5.github.io/COM530-tumblr/css/reset.css", :media => "screen,print", :rel => "stylesheet"}/
    %link{:href => "http://mfreema5.github.io/COM530-tumblr/css/screen.css", :rel => "stylesheet"}/
  %body
    %main
      %h1
        Practically an impact
      {block:Posts}{block:Text}
      %article.text
        .label
          .h2back
          %h2
            Posted
        %section
          .bar
          {block:Title}
          %h3
            {Title}
          {/block:Title}
          {Body}
      {/block:Text}
      {block:Photo}
      %article.other-photo
        .label
          .h2back
          %h2
            Framed
        %section
          .bar
      {/block:Photo}
      {block:Quote}
      %article.other-quote
        .label
          .h2back
          %h2
            I quote&#133;
        %section
          .bar
          %blockquote
            {Quote}
          {block:Source}
          .source
            {Source}
          {/block:Source}
      {/block:Quote}
      {block:Link}
      %article.other-link
        .label
          .h2back
          %h2
            Check it:
        %section
          .bar
          .link
            %a{href:"{URL}"} {Name}
            {block:Thumbnail}
            %a{href:"{URL}"} {Thumbnail}
          {block:Host}
          .caption
            via {Host}{/block:Host}
          {/block:Thumbnail}
          {block:Description}
          .describe
            {Description}{/block:Description}
      {/block:Link}{/block:Posts}
    %nav
    %footer




